body {
    background-color: rgba(238, 166, 12, 0.911);
    font-family: fantasy, 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
}

/* rounded background of yellow mustard color*/
.roundB {
    border-radius: 25px;
    background-color: rgb(255, 212, 20);
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: oblique;
    font-variant: small-caps;
    text-align: center;
}

li {
    font-weight: bold;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 212, 20);
    font-weight: bold;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    list-style-position: inside;
}